.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.bold{
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
}

.resume{
  font-weight: bolder;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24;
}

.name{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 45;
  color: rgb(197, 178, 154);

}

